## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
**/TestResults/
*.nupkg
.nuget/
artifacts/

# Rider / VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
**/appsettings.*.json
.env
